* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    /* font-family: JetBrainsMonoNerdFont; */
    font-size: 23px;
}

@define-color white         #DCD7BA;
@define-color grey          #2A2A37;
@define-color lightgrey     #363646;
@define-color bg            #1F1F28;
@define-color red           #C34043;
@define-color blue          #658594;
@define-color darkblue      #7FB4CA;

window#waybar {
    background-color: transparent;
    color: @white;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
}

#workspaces button {
    color: @white;
    border-bottom: 3px solid @lightgrey;
}

#workspaces button.active {
    font-weight: bold;
    color: @white;
    background-color: @grey;
    border-bottom: 3px solid @blue;
}

#workspaces button:hover {
    background: @lightgrey;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces {
    /* margin: 2px 2px; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#wireplumber,
#tray,
#workspaces,
#window {
    color: @white;
    padding: 0px 20px 0px 20px;
    background-color: @bg;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    box-shadow: 1 1 3 1px @grey;
}

#clock.time {
    /* color: @darkblue; */
}

#clock.date {
}

#cpu {
}

#memory {
}

#temperature {
}

#temperature.critical {
    color: @red;
}

#disk {
}

#tray {
}

#wireplumber {
}

#wireplumber.muted {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

label:focus {
    color: #000000;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
