* {
    font-family: JetBrainsMonoNerdFont;
    font-size: 24px;
}

@define-color white         #DCD7BA;
@define-color grey          #2A2A37;
@define-color lightgrey     #363646;
@define-color bg            #1F1F28;
@define-color red           #C34043;
@define-color blue          #658594;
@define-color darkblue      #7FB4CA;
@define-color purple        #957FB8;

window#waybar {
    background-color: @bg;
    color: @white;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
}

#workspaces button.empty {
    border-bottom: 5px solid @lightgrey;
}

#workspaces button {
    color: @white;
    border-bottom: 3px solid @lightgrey;
}

#workspaces button.active {
    font-weight: bold;
    background-color: @grey;
    border-bottom: 3px solid @darkblue;
}

#workspaces button:hover {
    background: @lightgrey;
}

#workspaces button.urgent {
    font-weight: bold;
    border-bottom: 3px solid @red;
}

#workspaces {
    /* margin: 2px 2px; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#wireplumber,
#tray,
#workspaces,
#window {
    color: @white;
    padding: 0px 20px 0px 20px;
    background-color: @bg;
}

#clock.time {
    /* text-decoration: underline; */
}

#clock.date {
}

#cpu {
}

#memory {
}

#temperature {
}

#temperature.critical {
    color: @red;
}

#disk {
}

#tray {
}

#wireplumber {
}

#wireplumber.muted {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

label:focus {
    color: #000000;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
