* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding: 1px;
    /*margin: 0px;*/
}




window#waybar {
    background-color: #211f1f; /* transparent */

    /* opacity: 0.9; */

    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #c1bbbb;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 10px;

    /*background: alpha(@background, 0.7);*/
}




button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#workspaces {
    background-color: #232526; /* rgba(36, 40, 59, 0.9) */
    margin: 0px;
    padding: 5px;
    border-radius: 9999px;
}


#workspaces button.active {
    background-color:   #474242;
    color:              #1e8cce;
    border-radius:      9999px;
    margin:             0px;

    transition:         background-color 0.2s;

    /* wide bars */
    padding-left:       20px;
    padding-right:      20px;
    transition:         all 0.2s ease-in-out;
}



#workspaces button {
    padding: 0 1em;
    /* wide bars */
    padding: 0 0.5em;
    color: #c1bbbb;
    border-radius: 9999px;
    /*background-color: #313244;*/

    transition: background-color 0.5s;
}









/* RIGHT */

#clock {
    background-color: #24283b;
    background-color: rgba(26, 27, 38, 0.9);
    margin: 0px;
    /*border-radius: 10px;*/
}

#custom-date {
    background-color: #24283b;
    background-color: rgba(26, 27, 38, 0.9);
    /*border-radius: 10px;*/
}

#tray {
    background-color: #24283b;
    background-color: rgba(26, 27, 38, 0.9);
    /*border-radius: 10px;*/
    border-radius: 9999px;
    margin: 0px;
    margin-right: 10px;
    /*padding-top: 0px;*/
}




/* MIDDLE */



/* LEFT */

#memory {
    background-color: #24283b;
    background-color: rgba(26, 27, 38, 0.9);
    /*border-radius: 10px;*/
}

#custom-cputemp {
    background-color: #24283b;
    background-color: rgba(26, 27, 38, 0.9);
    /*border-radius: 10px;*/
}

#cpu {
    background-color: #24283b;
    background-color: rgba(26, 27, 38, 0.9);
    /*border-radius: 10px;*/
    margin: 0px;
}
